<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- <link type="text/css" rel="stylesheet" href="materialize.min.css" media="screen,projection"/> -->
  </head>
  <body class="grey darken-2 white-text">
    <div class="sidenav sidenav-fixed grey z-depth-4">
      <div class="sidenav-content">
        <h2 class="sidenav-title">BookClub</h2>
        <ul>
          <li class="sidenav-link">
            <a class="white-text" style="position: relative; padding: 0" href="books">
              <div class="left-block"></div>
              <h4 class="sidenav-text">Books</h4>
            </a>
          </li>
          <li class="spacer-cause-css-sucks"></li>
          <li class="sidenav-link">
            <a class="white-text" style="position: relative; padding: 0" href="authors">
              <div class="left-block"></div>
              <h4 class="sidenav-text">Authors</h4>
            </a>
          </li>
          <li class="spacer-cause-css-sucks"></li>
          <li class="sidenav-link">
            <a class="white-text" style="position: relative; padding: 0" href="users">
              <div class="left-block"></div>
              <h4 class="sidenav-text">Users</h4>
            </a>
          </li>
        </ul>
        <div class="big-spacer"></div>
        <ul>
          <li class="sidenav-link">
            <a class="white-text" style="position: relative; padding: 0" href="books?sort=avg_rating">
              <div class="left-block"></div>
              <h4 class="sidenav-text" style="font-size: 10pt">Sort by Average Rating (Ascending)</h4>
            </a>
          </li>
          <li class="spacer-cause-css-sucks"></li>
          <li class="sidenav-link">
            <a class="white-text" style="position: relative; padding: 0" href="books?sort=avg_rating_desc">
              <div class="left-block"></div>
              <h4 class="sidenav-text" style="font-size: 10pt">Sort by Average Rating (Descending)</h4>
            </a>
          </li>
          <li class="spacer-cause-css-sucks"></li>
          <li class="sidenav-link">
            <a class="white-text" style="position: relative; padding: 0" href="books?sort=num_pages">
              <div class="left-block"></div>
              <h4 class="sidenav-text" style="font-size: 10pt">Sort by Page Count (Ascending)</h4>
            </a>
          </li>
          <li class="spacer-cause-css-sucks"></li>
          <li class="sidenav-link">
            <a class="white-text" style="position: relative; padding: 0" href="books?sort=num_pages_desc">
              <div class="left-block"></div>
              <h4 class="sidenav-text" style="font-size: 10pt">Sort by Page Count (Descending)</h4>
            </a>
          </li>
          <li class="spacer-cause-css-sucks"></li>
          <li class="sidenav-link">
            <a class="white-text" style="position: relative; padding: 0" href="books?sort=num_reviews">
              <div class="left-block"></div>
              <h4 class="sidenav-text" style="font-size: 10pt">Sort by Most Reviews (Ascending)</h4>
            </a>
          </li>
          <li class="spacer-cause-css-sucks"></li>
          <li class="sidenav-link">
            <a class="white-text" style="position: relative; padding: 0" href="books?sort=num_reviews_desc">
              <div class="left-block"></div>
              <h4 class="sidenav-text" style="font-size: 10pt">Sort by Most Reviews (Descending)</h4>
            </a>
          </li>
          <li class="spacer-cause-css-sucks"></li>
        </ul>
        <div class="">
          <h5>Highest Rated:</h5>
          <ul id="stats-highest-rated">
            <% @top_three.each do |book| %>
              <li class="card-panel red darken-2">
                <div class="card-content"><%= book.title%><h5><%=book.average_rating%></h5></div>
              </li>
            <% end %>
          </ul>
          <h5>Lowest Rated:</h5>
          <ul id="stats-lowest-rated">
            <% @bottom_three.each do |book| %>
              <li>
                <div class="card-panel orange darken-4">
                  <div class="card-content"><%= book.title%><h5><%=book.average_rating%></h5></div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>



    <div class="card-container" style="margin-left: 300px">
      <div class="row">
        <div id="left-column" class="col s12 m6 l4">
        <% bg = 0 %>
        <% @left.each do |book| %>
          <div id="book-<%=book.id%>" class="card index-card z-depth-2 <%=@backgrounds[bg]%>">
            <div class="card-image">
              <a class="modal-trigger" href="#<%=book.id%>">
                <img src="<%=book.image_url%>">
              </a>
              <span id="index-title-<%=book.id%>" class="card-title">
                <span class="z-depth-2 index-title flow-text">
                  <!-- <svg viewBox="0 100 100" xmlns"http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <foreignObject width=auto height=auto>
                      <h1 style="font-size: 1em">ASDDASDASDASDADSDA</h1>
                    </foreignObject>
                  </svg> -->
                  <h4 class="index-title-header"><%=book.title%></h4>
                </span>
              </span>
            </div>
            <div id="book-content-<%=book.id%>" class="card-content flow-text">
              <div class="clearfix valign-wrapper book-row-padding" style="padding-bottom: 25px">
                <h4 class="left book-author">By: <%=book.authors.first.name%></h4>
                <div class="left book-page-count-display">
                  <h5 class="book-page-count"><%=book.page_count%><br>pages</h5>
                </div>
              </div>
              <div class="clearfix valign-wrapper book-row-padding">
                <div class="left book-review-count-display">
                  <h5 class="book-review-count"><%=book.count_book_reviews%><br>reviews</h5>
                </div>
                <h3 class="left book-review-perc"><%=book.average_book_rating.round(0)%></h3>
              </div>
            </div>
            <div class="card-action">
              <label>
              <button class="waves-effect waves-light btn <%=@foregrounds[bg]%>">Delete</button>
              <%= link_to "<button>Delete</button>".html_safe, book_path(book),
                method: :delete, data: { confirm: 'Are you sure?' },
                :class=>"waves-effect waves-light btn #{@foregrounds[bg]}" %>
              <a class="waves-effect waves-light btn <%=@foregrounds[bg]%>">Delete</a>
            </div>
          </div>
        <% bg += 1; bg = 0 if bg > 5 %>

        <div id="<%=book.id%>" class="modal right-sheet grey darken-2<%=" to-show" if book.id == @to_show%>">
          <div class="modal-content" style="padding: 50px">
            <div class="row">
              <div class="col s8">
                <div class="row">
                  <h4><%=book.title%></h4>
                </div>
                <div class="row">
                  <div class="col s6">
                    <h4><%=book.authors.first.name%></h4>
                  </div>
                  <div class="col s6">
                    <div class="right"><h4><%=book.page_count%><br>pages</h4></div>
                  </div>
                </div>
              </div>
              <div class="col s4">
                <img src="<%=book.image_url%>">
              </div>
            </div>
            <div class="row">
              <h4>Reviews:</h4>
              <div class="col s12">
              <% if @reviews[book.id].empty? then%>
              <h4>None.</h4>
              <% else %>
              <% rvbg = 0 %>
              <%@reviews[book.id].each do |review|%>
              <a class="white-text" href="/users/<%=review.user.id%>">
                <div class="card index-card z-depth-2 <%=@backgrounds[rvbg]%>">
                  <div class="card-content">
                    <div class="row" style="margin-bottom: 7px">
                      <div class="col s10">
                        <h5 style="margin: 0"><%=review.title%></h5>
                        <p><em>By: <%=review.user.username%>, <%=review.pretty_date(:created)%></em></p>
                      </div>
                      <div class="col s2 valign-wrapper">
                        <h4><%=review.rating%></h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12">
                        <p><%=review.review%></p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <% rvbg += 1; rvbg = 0 if rvbg > 5 %>
              <% end %>
              <%end%>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        </div>





        <div id="mid-column" class="col s12 m6 l4">
        <% bg = 0 %>
        <% @mid.each do |book| %>
          <div id="book-<%=book.id%>" class="card index-card z-depth-2 <%=@backgrounds[bg]%>">
            <div class="card-image">
              <a class="modal-trigger" href="#<%=book.id%>">
                <img src="<%=book.image_url%>">
              </a>
              <span id="index-title-<%=book.id%>" class="card-title">
                <span class="z-depth-2 index-title flow-text">
                  <!-- <svg viewBox="0 100 100" xmlns"http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <foreignObject width=auto height=auto>
                      <h1 style="font-size: 1em">ASDDASDASDASDADSDA</h1>
                    </foreignObject>
                  </svg> -->
                  <h4 class="index-title-header"><%=book.title%></h4>
                </span>
              </span>
            </div>
            <div id="book-content-<%=book.id%>" class="card-content flow-text">
              <div class="clearfix valign-wrapper book-row-padding" style="padding-bottom: 25px">
                <h4 class="left book-author">By: <%=book.authors.first.name%></h4>
                <div class="left book-page-count-display">
                  <h5 class="book-page-count"><%=book.page_count%><br>pages</h5>
                </div>
              </div>
              <div class="clearfix valign-wrapper book-row-padding">
                <div class="left book-review-count-display">
                  <h5 class="book-review-count"><%=book.count_book_reviews%><br>reviews</h5>
                </div>
                <h3 class="left book-review-perc"><%=book.average_book_rating.round(0)%></h3>
              </div>
            </div>
            <div class="card-action">
              <%= link_to "<button>Delete</button>".html_safe, book_path(book),
                method: :delete, data: { confirm: 'Are you sure?' },
                :class=>"waves-effect waves-light btn #{@foregrounds[bg]}" %>
            </div>
          </div>
        <% bg += 1; bg = 0 if bg > 5 %>

        <div id="<%=book.id%>" class="modal right-sheet grey darken-2<%=" to-show" if book.id == @to_show%>">
          <div class="modal-content" style="padding: 50px; overflow: hidden">
            <div class="row">
              <div class="col s8">
                <div class="row">
                  <h4><%=book.title%></h4>
                </div>
                <div class="row">
                  <div class="col s6">
                    <h4><%=book.authors.first.name%></h4>
                  </div>
                  <div class="col s6">
                    <div class="right"><h4><%=book.page_count%><br>pages</h4></div>
                  </div>
                </div>
              </div>
              <div class="col s4">
                <img src="<%=book.image_url%>">
              </div>
            </div>
            <div class="row">
              <h4>Reviews:</h4>
              <div class="col s12">
              <% if @reviews[book.id].empty? then%>
              <h4>None.</h4>
              <% else %>
              <% rvbg = 0 %>
              <%@reviews[book.id].each do |review|%>
              <a class="white-text" href="/users/<%=review.user.id%>">
                <div class="card index-card z-depth-2 <%=@backgrounds[rvbg]%>">
                  <div class="card-content">
                    <div class="row" style="margin-bottom: 7px">
                      <div class="col s10">
                        <h5 style="margin: 0"><%=review.title%></h5>
                        <p><em>By: <%=review.user.username%>, <%=review.pretty_date(:created)%></em></p>
                      </div>
                      <div class="col s2 valign-wrapper">
                        <h4><%=review.rating%></h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12">
                        <p><%=review.review%></p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <% rvbg += 1; rvbg = 0 if rvbg > 5 %>
              <% end %>
              <%end%>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        </div>





        <div id="right-column" class="col s12 m6 l4">
        <% bg = 0 %>
        <% @right.each do |book| %>
          <div id="book-<%=book.id%>" class="card index-card z-depth-2 <%=@backgrounds[bg]%>">
            <div class="card-image">
              <a class="modal-trigger" href="#<%=book.id%>">
                <img src="<%=book.image_url%>">
              </a>
              <span id="index-title-<%=book.id%>" class="card-title">
                <span class="z-depth-2 index-title flow-text">
                  <!-- <svg viewBox="0 100 100" xmlns"http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <foreignObject width=auto height=auto>
                      <h1 style="font-size: 1em">ASDDASDASDASDADSDA</h1>
                    </foreignObject>
                  </svg> -->
                  <h4 class="index-title-header"><%=book.title%></h4>
                </span>
              </span>
            </div>
            <div id="book-content-<%=book.id%>" class="card-content flow-text">
              <div class="clearfix valign-wrapper book-row-padding" style="padding-bottom: 25px">
                <h4 class="left book-author">By: <%=book.authors.first.name%></h4>
                <div class="left book-page-count-display">
                  <h5 class="book-page-count"><%=book.page_count%><br>pages</h5>
                </div>
              </div>
              <div class="clearfix valign-wrapper book-row-padding">
                <div class="left book-review-count-display">
                  <h5 class="book-review-count"><%=book.count_book_reviews%><br>reviews</h5>
                </div>
                <h3 class="left book-review-perc"><%=book.average_book_rating.round(0)%></h3>
              </div>
            </div>
            <div class="card-action">
              <%= link_to "<button>Delete</button>".html_safe, book_path(book),
                method: :delete, data: { confirm: 'Are you sure?' },
                :class=>"waves-effect waves-light btn #{@foregrounds[bg]}" %>
            </div>
          </div>
        <% bg += 1; bg = 0 if bg > 5 %>

        <div id="<%=book.id%>" class="modal right-sheet grey darken-2<%=" to-show" if book.id == @to_show%>">
          <div class="modal-content" style="padding: 50px; overflow: hidden">
            <div class="row">
              <div class="col s8">
                <div class="row">
                  <h4><%=book.title%></h4>
                </div>
                <div class="row">
                  <div class="col s6">
                    <h4><%=book.authors.first.name%></h4>
                  </div>
                  <div class="col s6">
                    <div class="right"><h4><%=book.page_count%><br>pages</h4></div>
                  </div>
                </div>
              </div>
              <div class="col s4">
                <img src="<%=book.image_url%>">
              </div>
            </div>
            <div class="row">
              <h4>Reviews:</h4>
              <div class="col s12">
              <% if @reviews[book.id].empty? then%>
              <h4>None.</h4>
              <% else %>
              <% rvbg = 0 %>
              <%@reviews[book.id].each do |review|%>
              <a class="white-text" href="/users/<%=review.user.id%>">
                <div class="card index-card z-depth-2 <%=@backgrounds[rvbg]%>">
                  <div class="card-content">
                    <div class="row" style="margin-bottom: 7px">
                      <div class="col s10">
                        <h5 style="margin: 0"><%=review.title%></h5>
                        <p><em>By: <%=review.user.username%>, <%=review.pretty_date(:created)%></em></p>
                      </div>
                      <div class="col s2 valign-wrapper">
                        <h4><%=review.rating%></h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12">
                        <p><%=review.review%></p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <% rvbg += 1; rvbg = 0 if rvbg > 5 %>
              <% end %>
              <%end%>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        </div>
      </div>
    </div>
  </body>
</html>