<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- <link type="text/css" rel="stylesheet" href="materialize.min.css" media="screen,projection"/> -->
  </head>
  <body class="grey darken-2">
    <!-- <div class="navbar-fixed">
      <nav class="grey darken-1 z-depth-3" role="navigation">
        <%=@to_show%> <%=@left.first.id%> <%=@to_show.to_i == @left.first.id%>
      </nav>
    </div> -->





    <div class="container">
      <div class="row">
        <div class="col s12 m6 l4">
        <% bg = 0 %>
        <% @left.each do |book| %>
          <div id="book-<%=book.id%>" class="card z-depth-2 <%=@backgrounds[bg]%> white-text">
            <div class="card-image">
              <a class="modal-trigger" href="#<%=book.id%>">
                <img src="<%=book.image_url%>">
              </a>
              <span id="book-title-<%=book.id%>" class="card-title white-text">
                <span class="z-depth-2 book-title flow-text">
                  <!-- <svg viewBox="0 100 100" xmlns"http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <foreignObject width=auto height=auto>
                      <h1 style="font-size: 1em">ASDDASDASDASDADSDA</h1>
                    </foreignObject>
                  </svg> -->
                  <h4 class="book-title-header"><%=book.title%></h4>
                </span>
              </span>
            </div>
            <div id="book-content-<%=book.id%>" class="card-content flow-text">
              <div class="clearfix valign-wrapper book-row-padding" style="padding-bottom: 25px">
                <h4 class="left book-author">By: heck</h4>
                <div class="left book-page-count-display">
                  <h5 class="book-page-count"><%=book.page_count%><br>pages</h5>
                </div>
              </div>
              <div class="clearfix valign-wrapper book-row-padding">
                <div class="left book-review-count-display">
                  <h5 class="book-review-count"><%=book.count_book_reviews%><br>reviews</h5>
                </div>
                <h3 class="left book-review-perc"><%=book.average_book_rating.round(0)%></h3>
              </div>
            </div>
            <div class="card-action">
              Hello
            </div>
          </div>
        <% bg += 1; bg = 0 if bg > 6 %>

        <div id="<%=book.id%>" class="modal right-sheet grey darken-2 white-text<%=" to-show" if book.id == @to_show%>">
          <div class="modal-content" style="padding: 50px">
            <div class="row">
              <div class="col s8">
                <div class="row">
                  <h4><%=book.title%></h4>
                </div>
                <div class="row">
                  <div class="col s6">
                    <h4><%=book.authors.first.name%></h4>
                  </div>
                  <div class="col s6">
                    <div class="right"><h4><%=book.page_count%><br>pages</h4></div>
                  </div>
                </div>
              </div>
              <div class="col s4">
                <img src="<%=book.image_url%>">
              </div>
            </div>
            <div class="row">
              <h4>Reviews:</h4>
            </div>
          </div>
        </div>
        <% end %>
        </div>





        <div class="col s12 m6 l4">
        <% bg = 0 %>
        <% @mid.each do |book| %>
          <div id="book-<%=book.id%>" class="card z-depth-2 <%=@backgrounds[bg]%> white-text">
            <div class="card-image">
              <a class="modal-trigger" href="#show-modal-<%=book.id%>">
                <img src="<%=book.image_url%>">
              </a>
              <span id="book-title-<%=book.id%>" class="card-title white-text">
                <span class="z-depth-2 book-title flow-text">
                  <!-- <svg viewBox="0 100 100" xmlns"http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <foreignObject width=auto height=auto>
                      <h1 style="font-size: 1em">ASDDASDASDASDADSDA</h1>
                    </foreignObject>
                  </svg> -->
                  <h4 class="book-title-header"><%=book.title%></h4>
                </span>
              </span>
            </div>
            <div id="book-content-<%=book.id%>" class="card-content flow-text">
              <div class="clearfix valign-wrapper book-row-padding" style="padding-bottom: 25px">
                <h4 class="left book-author">By: heck</h4>
                <div class="left book-page-count-display">
                  <h5 class="book-page-count"><%=book.page_count%><br>pages</h5>
                </div>
              </div>
              <div class="clearfix valign-wrapper book-row-padding">
                <div class="left book-review-count-display">
                  <h5 class="book-review-count"><%=book.count_book_reviews%><br>reviews</h5>
                </div>
                <h3 class="left book-review-perc"><%=book.average_book_rating.round(0)%></h3>
              </div>
            </div>
            <div class="card-action">
              Hello
            </div>
          </div>
        <% bg += 1; bg = 0 if bg > 6 %>
        <% end %>
        </div>





        <div class="col s12 m6 l4">
        <% bg = 0 %>
        <% @right.each do |book| %>
          <div id="book-<%=book.id%>" class="card z-depth-2 <%=@backgrounds[bg]%> white-text">
            <div class="card-image">
              <a class="modal-trigger" href="#show-modal-<%=book.id%>">
                <img src="<%=book.image_url%>">
              </a>
              <span id="book-title-<%=book.id%>" class="card-title white-text">
                <span class="z-depth-2 book-title flow-text">
                  <!-- <svg viewBox="0 100 100" xmlns"http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <foreignObject width=auto height=auto>
                      <h1 style="font-size: 1em">ASDDASDASDASDADSDA</h1>
                    </foreignObject>
                  </svg> -->
                  <h4 class="book-title-header"><%=book.title%></h4>
                </span>
              </span>
            </div>
            <div id="book-content-<%=book.id%>" class="card-content flow-text">
              <div class="clearfix valign-wrapper book-row-padding" style="padding-bottom: 25px">
                <h4 class="left book-author">By: heck</h4>
                <div class="left book-page-count-display">
                  <h5 class="book-page-count"><%=book.page_count%><br>pages</h5>
                </div>
              </div>
              <div class="clearfix valign-wrapper book-row-padding">
                <div class="left book-review-count-display">
                  <h5 class="book-review-count"><%=book.count_book_reviews%><br>reviews</h5>
                </div>
                <h3 class="left book-review-perc"><%=book.average_book_rating.round(0)%></h3>
              </div>
            </div>
            <div class="card-action">
              Hello
            </div>
          </div>
        <% bg += 1; bg = 0 if bg > 6 %>
        <% end %>
        </div>
      </div>
    </div>
  </body>
</html>